@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: linear-gradient(rgba(0,0,0,0.02), rgba(0,0,0,0.02)), url("/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 